@import "global";

body {
  background: color(gray, 50);
  overflow-x: hidden;
}

[data-container] {
  width: 90vw;
  margin-inline: auto;

  &[data-container="fixed"] {
    max-width: 1120px;
  }
}

[data-fadein] {
  animation: 0.4s fadeIn;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

main {
  flex: 1;
}
