.jobs,
.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section {
  padding-bottom: 4rem;
}

.jobs {
  position: relative;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgba(color(gray, 50), 0.7);
  width: 100%;
  position: absolute;
  z-index: 1;

  .spinner {
    position: fixed;
    top: 50dvh;
    font-size: 3rem;
  }
}
